<h1>Create celebrity</h1>
<form action="/celebrities/create" method="POST">
    <label>Name</label>
    <input type="text" name="name" />
    <label>Occupation</label>
   <input type="text" name="occupation" />
<label>catchPhrase</label>
   <input type="text" name="catchPhrase" />
<select name="movie">
    <option value="">Choose Movie</option>
    {{#each allMovies}}
    <option value={{id}}>{{title}}</option>
    {{/each}}
</select>


    <button type="submit">Create</button>


</form>





    